.LandingPage{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.LandingPage #NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 2.5rem;
    z-index: 9;
    mix-blend-mode:difference;
    && button{
        background-color: #fff;
        color: black;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.7rem 1.5rem;
        border-radius: 20px;
    }
    && button:active{
        scale: 0.95;
    }
}

.MainLandingPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9rem;
    
}

.firstSection {
    height: 100%;
    width: 100%;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;
    && h2{
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 900;
        font-family: Font4;
        text-transform: uppercase;
    }
}

.firstSection .One{
    padding: 1.5rem;
    text-align: center;
    && p{
        font-size: 1.3rem;
    }
}

.LandingPage  .firstSection img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;
}


.LandingPage .secondSection{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LandingPage .thirdSection{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    border-radius: 50px;
    padding: 2rem;
    background-color: #ffffff63;
    height: 70%;
    position: relative;

    && img{
        width: 7rem;
        position: absolute;
        top : 0;
        right: 3rem;
        transform: translateY(-95%);
        z-index: -1;
    }

    && h3{
        font-size: 2rem;
        font-weight: 900;
        font-family: Font4;
        text-transform: uppercase;
    }
    && p{
        font-size: 1.2rem;
        font-weight: 500;
    }

    && .innerbox{

        border-radius: 50px;
        width: 100%;
        overflow: hidden;

        && video{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.CoolEffect{
    
    && img:nth-child(1){
        right: 8rem;
        transform: translateY(-80%);
        z-index: 3;
    }
    && img:nth-child(2){
        right: 1.5rem;
        transform: translateY(-50%);
        z-index: -1;
    }
    && img:nth-child(3){
        right: 1.5rem;
        height: 80px;
        transform: translateY(0);
        z-index: -1;
        background-color:#121DF7;
    }
}

@media (min-width: 767px){
    .LandingPage #NavBar{
        height: 10vh;
    }

    .firstSection{
        && img{
            width: 60%;
        }
        && .One{
            width: 80%;

            && h2{
                padding: 1rem 6rem;
            }
        }
    }

    .secondSection{
        height: 100vh;
        margin: 5rem 0;
    }
    .thirdSection{
        height: 100vh;
    }
    .box{
        flex-direction: row-reverse;
        margin: 2rem;

        && .part{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        && .innerbox{
            background-color: #fff;
            width: 250%;
            && video{
                height: 100%;
            }
        }
    }

    .thirdSection .box{
        flex-direction: row;
    }
}

@media (min-width: 991px) {
    .firstSection{
        align-items: center;
        flex-direction: row-reverse;
        && img{
            width: 50%;
        }

        && .One{
           margin-bottom: 5rem;
            && h2{
                padding: 1.5rem;
            }
        }
    }
}