@font-face {
  font-family: Font1;
  src: url("./fonts/652736292cbf8363b43d077a_ggsans-Normal.woff2");
}
@font-face {
  font-family: Font2;
  src: url("./fonts/67110a451d677abf8340c6da_ABCGintoDiscord-Regular.woff2");
}
@font-face {
  font-family: Font3;
  src: url("./fonts/67110a452ee74d65f90c1dc0_ABCGintoDiscord-Medium.woff2");
}
@font-face {
  font-family: Font4;
  src: url("./fonts/67110b10efb84547ce5e8ef7_ABCGintoDiscordNord-Bold.woff2");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

html,body{
  width: 100%;
  /* height: 100%; */
}

html{
  font-size: clamp(14px,2vw,18px);
background: linear-gradient(
  to bottom,
  black 1%,
  darkblue ,
  blue ,
  royalblue
);
}


#root,main{
  width: 100%;
  height: 100%;
}